# TASK 4.6

In [5]:
#importing librarires
import pandas as pd
import numpy as np
import os

In [6]:
#creating a path
path=r'C:\Users\oluwo\Documents\08-2025 Instacart Basket Analysis'

In [7]:
#importing orders_products_combined dataframe from the pickle file
orders_products_combined = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'orders_products_combined.pkl'))

In [8]:
4. #check to confirm the shape of the imported dataframe
orders_products_combined.shape

(32434489, 10)

The shape(rows and columns) are still the same.

In [9]:
#checking the column of the orders_product_combine 
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task

In [10]:
#import the product dataframe from prepared data file.
df_prods= pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'),index_col=0)

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
#checking the shape of the products dataframe
df_prods.shape

(49672, 5)

The suitable way to merge the df_ords_prods_combined dataframe with the products dataframe will be to use the 'product_id' column.

In [13]:
#test the merge wihtout overwriting
pd.merge(orders_products_combined, df_prods, on = ['product_id'], indicator='Match')

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

I could not use indicator=True in the merge test above because the orders_products_combined DataFrame already contains a _merge column.
Instead, I used indicator='match'. To enable the use of indicator=True in the new combined DataFrame, I will need to drop the existing '_merge' column from "orders_products_combined", since the merge operation will generate a new '_merge column.

In [14]:
#drop the merge column in the orders_products_combined DataFrame
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)

In [15]:
#check the output 
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [16]:
orders_products_combined.shape

(32434489, 9)

In [17]:
#merge updated DataFrame
df_ords_prods_merge = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)

In [18]:
#check output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [19]:
#check the shape
df_ords_prods_merge.shape

(32404859, 14)

# 6. Confirm the results of the merge using the merge flag

In [21]:
#checking the result of merge using merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [22]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))