# Merging instacart data

In [1]:
#importing librarires
import pandas as pd
import numpy as np
import os

In [2]:
#creating a path
path=r'C:\Users\oluwo\Documents\08-2025 Instacart Basket Analysis'

In [3]:
#import orders_product_prior data frame
df_ords_prior= pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders_products_prior.csv'), index_col=False)

In [4]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'),index_col=False)

In [7]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
#checking the shape of both dataframe
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 6)

In [10]:
#merging both dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
#To sum up all values in the merge column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#check the shape of the merged dataframe
df_merged_large.shape

(32434489, 10)

#  Exporting data in Pickle format

In [12]:
#export data to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))