# Task 4.8

## 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating a path
path=r'C:\Users\oluwo\Documents\08-2025 Instacart Basket Analysis'

In [3]:
#importing orders_products_merge dataframe from the pickle file
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'ords_prods_merge_expanded_columns.pkl'))

In [4]:
df_ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range-product,Regularly busy,Regular days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range-product,Regularly busy,Regular days,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range-product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range-product,Regularly busy,slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range-product,Least busy,slowest days,Most orders

## 2.In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
#finding the aggreagted mean of the order_number column
Mean_1= df_ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

In [6]:
#checking the output 
Mean_1

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [7]:
#creating a subset of the DataFrame
df = df_ords_prods_merge[:1000000]

In [8]:
#checking the shape
df.shape

(1000000, 18)

In [9]:
#finding the aggreagted mean of the order_number column of the subset
Mean_2= df.groupby('department_id').agg({'order_number':['mean']})

In [10]:
#checking the output
Mean_2

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

#3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [11]:
#merge both Mean_1 and Mean_2 to Analyse the result
pd.merge(Mean_1,Mean_2, on='department_id')

              order_number_x order_number_y
                        mean           mean
department_id
1                  15.457838      15.577493
2                  17.277920      17.320781
3                  17.170395      16.084944
4                  17.811403      17.530458
5                  15.215751      14.763075
6                  16.439806      16.658449
7                  17.225802      17.031590
8                  15.340650      15.076662
9                  15.895474      15.447580
10                 20.197148      18.681852
11                 16.170638      15.447411
12                 15.887671      14.327957
13                 16.583536      16.548642
14                 16.773669      16.960241
15                 16.165037      16.121948
16                 17.665606      17.803851
17                 15.694469      15.593633
18                 19.310397      19.674252
19                 17.177343      16.899756
20                 16.473447      16.255442
21                 22.902379      25.535479

For most departments, the average differences between the two datasets are minimal, generally ranging from about 0.2 to 1 order number. This indicates a consistent and highly similar ordering pattern across the majority of departments, suggesting that both datasets reflect comparable customer behaviors and order distributions.

Departments 10 and 21 stand out because their average order numbers are quite different, with gaps of about 2 and 3 compared to the other dataset. These differences are unlikely to be random and may be caused by things like missing data, way the data was filtered etc.

Because of this, these departments should be looked at more closely. The gaps could point to special ordering patterns, possible data issues, or even changes in customer behavior that don’t appear in other departments. Understanding the cause of these differences can give useful insights about these departments.

## 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

To create a loyalty flag for existing customers using transform and loc function:

Step 1
Create a new column, “max_order,” into which you’ll place the results of your aggregation.
df_ords_prods_merge['max_order'] 

Step 2
Split the data into groups based on the “user_id” column
 df_ords_prods_merge.groupby(['user_id'])

Step 3
Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
['order_number'].transform(np.max)

In [12]:
#create a loyalty flag with transform and loc function
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\oluwo\AppData\Local\Temp\ipykernel_11336\552456908.py:2: FutureWarning: The provided callable <function max at 0x000001AA4E9C7EC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
#checking the output
df_ords_prods_merge[['user_id', 'order_number','max_order']].head(15)

    user_id  order_number  max_order
0       138            28         32
1       138            30         32
2       709             2          5
3       764             1          3
4       764             3          3
5       777            16         26
6       825             3          9
7       910            12         12
8      1052            10         20
9      1052            15         20
10     1379             1         10
11     1480            36         43
12     1480            38         43
13     1480            39         43
14     1494             6         13

## flag criteria

In [14]:
#If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer"
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
#If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
#If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
#checking the frequency of loyalty flag
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [18]:
#check output
#to check mulitple columns at ones
df_ords_prods_merge[['user_id', 'loyalty_flag', 'max_order']].head(30)

    user_id      loyalty_flag  max_order
0       138  Regular customer         32
1       138  Regular customer         32
2       709      New customer          5
3       764      New customer          3
4       764      New customer          3
5       777  Regular customer         26
6       825      New customer          9
7       910  Regular customer         12
8      1052  Regular customer         20
9      1052  Regular customer         20
10     1379      New customer         10
11     1480    Loyal customer         43
12     1480    Loyal customer         43
13     1480    Loyal customer         43
14     1494  Regular customer         13
15     1494  Regular customer         13
16     1494  Regular customer         13
17     1540  Regular customer         28
18     1540  Regular customer         28
19     1540  Regular customer         28
20     1540  Regular customer         28
21     1540  Regular customer         28
22     1540  Regular customer         28
23     1540  Regular customer         28
24     1540  Regular customer         28
25     1540  Regular customer         28
26     1540  Regular customer         28
27     1540  Regular customer         28
28     1540  Regular customer         28
29     1540  Regular customer         28

## 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [19]:
#to check prices of product purchase ampong customers,
#i will groupby loyalty_flag and use the avgerage of eaxh price
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean']})

                    prices
                      mean
loyalty_flag
Loyal customer    7.772831
New customer      7.800320
Regular customer  7.797431

## using the Average of the price, there is really no difference in the prices of products purchased by loyal, regular and new customers.

## 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

    If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
    If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.

## To create a spending flag for each user based on average prices across all thier orders using transform and loc function:

Step 1
Create a new column, “Avg_spending” into which you’ll place the results of your aggregation.
df_ords_prods_merge['Avg_spending'] 

Step 2
Split the data into groups based on the “user_id” column
 df_ords_prods_merge.groupby(['user_id'])

Step 3
Apply the transform() function on the “prices” column to generate the Average price for each order.
['prices'].transform(np.mean)

In [21]:
#creating average spending column
df_ords_prods_merge['Avg_spending'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\oluwo\AppData\Local\Temp\ipykernel_11336\3649318078.py:2: FutureWarning: The provided callable <function mean at 0x000001AA4E9DC900> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['Avg_spending'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [22]:
#checking output
df_ords_prods_merge[['user_id', 'prices', 'Avg_spending']].head(10)

   user_id  prices  Avg_spending
0      138     5.8      6.935811
1      138     5.8      6.935811
2      709     5.8      7.930208
3      764     5.8      4.972414
4      764     5.8      4.972414
5      777     5.8      6.935398
6      825     5.8      5.957576
7      910     5.8      6.680000
8     1052     5.8      7.162500
9     1052     5.8      7.162500

## flag criteria

In [23]:
#If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
df_ords_prods_merge.loc[df_ords_prods_merge['Avg_spending'] <10, 'spending_flag'] = 'Low spender'

In [24]:
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.
df_ords_prods_merge.loc[df_ords_prods_merge['Avg_spending']>=10, 'spending_flag'] = 'High spender'

In [25]:
#check the frquency of spending_flag
df_ords_prods_merge['spending_flag'].value_counts (dropna=False)

spending_flag
Low spender     32285165
High spender      119694
Name: count, dtype: int64

In [30]:
#check the output
df_ords_prods_merge[['user_id','Avg_spending', 'spending_flag']].head(100)

    user_id  Avg_spending spending_flag
0       138      6.935811   Low spender
1       138      6.935811   Low spender
2       709      7.930208   Low spender
3       764      4.972414   Low spender
4       764      4.972414   Low spender
..      ...           ...           ...
95    10831      7.494286   Low spender
96    11119      5.878641   Low spender
97    11186      6.618085   Low spender
98    11243      5.927149   Low spender
99    11448      5.981250   Low spender

[100 rows x 3 columns]

## 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.

step 1 Create a new column, “User_ord_median” into which you’ll place the results of your aggregation. df_ords_prods_merge['user_ord_median']

Step 2 Split the data into groups based on the “user_id” column df_ords_prods_merge.groupby(['user_id'])

Step 3 Apply the transform() function on the “days_since_prior_order” column to generate the median of user ordering behaviour  for each user. ['days_since_prior_order'].transform(np.median)

In [44]:
#creating user_ordering_behaviour column
df_ords_prods_merge['user_ord_median']= df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\oluwo\AppData\Local\Temp\ipykernel_11336\2358848143.py:2: FutureWarning: The provided callable <function median at 0x000001AA4EB83E20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['user_ord_median']= df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [45]:
#check output
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'user_ord_median']].head(10)

   user_id  days_since_prior_order  user_ord_median
0      138                     3.0              8.0
1      138                    20.0              8.0
2      709                     6.0              8.0
3      764                     NaN              9.0
4      764                     9.0              9.0
5      777                    26.0             11.0
6      825                    30.0             20.0
7      910                    30.0              6.0
8     1052                    19.0             10.0
9     1052                    15.0             10.0

## flag criteria

In [62]:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
df_ords_prods_merge.loc[df_ords_prods_merge['user_ord_median']>20, 'frequency_flag']= 'Non-frequent customer'

In [63]:
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
df_ords_prods_merge.loc[(df_ords_prods_merge['user_ord_median']>10) & (df_ords_prods_merge['user_ord_median']<=20),'frequency_flag']= 'Regular customer'

In [64]:
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.
df_ords_prods_merge.loc[df_ords_prods_merge['user_ord_median']<=10, 'frequency_flag']= 'Frequent customer'

In [67]:
#check the frquency of frequency_flag
df_ords_prods_merge['frequency_flag'].value_counts (dropna=False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [66]:
#check the output
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'user_ord_median', 'frequency_flag']].head (100)

    user_id  days_since_prior_order  user_ord_median         frequency_flag
0       138                     3.0              8.0      Frequent customer
1       138                    20.0              8.0      Frequent customer
2       709                     6.0              8.0      Frequent customer
3       764                     NaN              9.0      Frequent customer
4       764                     9.0              9.0      Frequent customer
..      ...                     ...              ...                    ...
95    10831                    23.0             23.0  Non-frequent customer
96    11119                    30.0             13.0       Regular customer
97    11186                     2.0              6.0      Frequent customer
98    11243                     0.0              6.0      Frequent customer
99    11448                     3.0             14.0       Regular customer

[100 rows x 4 columns]

## 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [68]:
#exporting DataFrame as a pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods_merge_Task_4_8.pkl'))