# Task 4.9
# Part 1

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import polars as pl

In [2]:
#import customers dataframe
df_custs = pd.read_csv(os.path.join("data", "original", "customers.csv"),index_col=False)

In [3]:
#check the output
df_custs.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
#check the total numbers of rows and columns
df_custs.shape

(206209, 10)

In [5]:
df_custs.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [6]:
df_custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

# 4.Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.¶

## i need to make sure that variable name are correct and consistent by using the same alphabetical case

In [7]:
df_custs.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [8]:
#drop the first name and Surnam column since i already have user_id to identify.
df_custs = df_custs.drop(columns=["First Name", "Surnam"])

In [9]:
#check output
df_custs

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...
206204,168073,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Female,California,27,4/1/2020,1,married,99799
206208,80148,Female,New York,55,4/1/2020,1,married,57095

In [10]:
#rename Gender as gender
df_custs.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [11]:
#rename STATE as state 
df_custs.rename(columns = {'STATE' : 'state'}, inplace = True)

In [12]:
#rename Age as age
df_custs.rename(columns = {'Age' : 'age'}, inplace = True)

In [13]:
#rename n_dependants as number_of_dependants
df_custs.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [14]:
#rename fam_status as marital_status
df_custs.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [15]:
#check the output
df_custs.head()

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

All the variables have the same format and i already dropped the first name and surname for privacy purposee to identify customers strictly by user_id.

# 5.Data quality and consistency checks
## check for missing values and duplicates
## convert any mixed type data

In [16]:
#To find missing values in data
df_custs.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

no missing values

In [17]:
#looking for duplicate 
df_dups= df_custs[df_custs.duplicated()]

In [18]:
#check the output
df_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, marital_status, income]
Index: []

There are no duplicates the the DataFrame

In [19]:
#checking for mixed type data
df_custs.dtypes

user_id                  int64
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
marital_status          object
income                   int64
dtype: object

No mixed data type was found in the customers data frame.

# 6. Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

I converted the prepared, aggregated data from task 4.8 from a Pickle file to a Parquet file to significantly compress the dataset—over 5 GB in size—and reduce memory usage on my system.

In [20]:
df_ords_prods_merge = pl.read_parquet(os.path.join("data", "prepared", "df_ords_prods_merge_Task_4_8.parquet"))

In [21]:
#check the output
df_ords_prods_merge.shape

(32404859, 29)

In [22]:
df_ords_prods_merge.describe()

shape: (9, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ product_i ┆ product_n ┆ aisle_id  ┆ … ┆ order_fre ┆ user_ord_ ┆ frequent_ ┆ frequenc │
│ ---       ┆ d         ┆ ame       ┆ ---       ┆   ┆ quency_fl ┆ median    ┆ flag      ┆ y_flag   │
│ str       ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ag        ┆ ---       ┆ ---       ┆ ---      │
│           ┆ f64       ┆ str       ┆           ┆   ┆ ---       ┆ f64       ┆ str       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆ str       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 3.2404859 ┆ 32404859  ┆ 3.2404859 ┆ … ┆ 21559853  ┆ 3.2404854 ┆ 32404854  ┆ 32404854 │
│           ┆ e7        ┆           ┆ e7        ┆   ┆           ┆ e7        ┆           ┆          │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0.0       ┆ … ┆ 10845006  ┆ 5.0       ┆ 5         ┆ 5        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 25598.661 ┆ null      ┆ 71.196116 ┆ … ┆ null      ┆ 10.397759 ┆ null      ┆ null     │
│           ┆ 74        ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 14083.996 ┆ null      ┆ 38.211387 ┆ … ┆ null      ┆ 7.131754  ┆ null      ┆ null     │
│           ┆ 348       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 1.0       ┆ #2 Coffee ┆ 1.0       ┆ … ┆ Frequent  ┆ 0.0       ┆ Frequent  ┆ Frequent │
│           ┆           ┆ Filters   ┆           ┆   ┆ customer  ┆           ┆ customer  ┆ customer │
│ 25%       ┆ 13544.0   ┆ null      ┆ 31.0      ┆ … ┆ null      ┆ 6.0       ┆ null      ┆ null     │
│ 50%       ┆ 25302.0   ┆ null      ┆ 83.0      ┆ … ┆ null      ┆ 8.0       ┆ null      ┆ null     │
│ 75%       ┆ 37947.0   ┆ null      ┆ 107.0     ┆ … ┆ null      ┆ 13.0      ┆ null      ┆ null     │
│ max       ┆ 49688.0   ┆ with a    ┆ 134.0     ┆ … ┆ Frequent  ┆ 30.0      ┆ Regular   ┆ Regular  │
│           ┆           ┆ Splash of ┆           ┆   ┆ customer  ┆           ┆ customer  ┆ customer │
│           ┆           ┆ Pineapple ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ Coc…      ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [23]:
df_ords_prods_merge.columns

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 '_merge',
 'price_range_loc',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'Avg_spending',
 'spending_flag',
 'user_ord_behaviour',
 'order_frequecy_flag',
 'order_frequency-flag',
 'order_frequency_flag',
 'user_ord_median',
 'frequent_flag',
 'frequency_flag']

'user_id' is the key column to comnbine both dataframes

In [24]:
#Drop the '_merge' column from the df_ords_prod_merge dataframe
df_ords_prods_merge = df_ords_prods_merge.drop('_merge')

In [25]:
#check the output 
df_ords_prods_merge.columns

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 'price_range_loc',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'Avg_spending',
 'spending_flag',
 'user_ord_behaviour',
 'order_frequecy_flag',
 'order_frequency-flag',
 'order_frequency_flag',
 'user_ord_median',
 'frequent_flag',
 'frequency_flag']

In [26]:
df_ords_prods_merge.shape

(32404859, 28)

The customers data is currently a pandas DataFrame, I will convert it to Polars so that it is in the same format as orders_products_merge.

In [27]:
#converting pandas df to polars df
df_custs = pl.from_pandas(df_custs)

In [28]:
#Merge (join) df_ords_prods_merge with customers data frame on user_id

df_ords_prods_merge_custs =df_ords_prods_merge.join(df_custs, on="user_id", how="inner")

In [29]:
#check output
df_ords_prods_merge_custs.shape

(32404859, 35)

In [30]:
df_ords_prods_merge_custs.head()

shape: (5, 35)
┌────────────┬────────────┬──────────┬────────────┬───┬───────────┬───────────┬───────────┬────────┐
│ product_id ┆ product_na ┆ aisle_id ┆ department ┆ … ┆ date_join ┆ number_of ┆ marital_s ┆ income │
│ ---        ┆ me         ┆ ---      ┆ _id        ┆   ┆ ed        ┆ _dependan ┆ tatus     ┆ ---    │
│ i64        ┆ ---        ┆ i64      ┆ ---        ┆   ┆ ---       ┆ ts        ┆ ---       ┆ i64    │
│            ┆ str        ┆          ┆ i64        ┆   ┆ str       ┆ ---       ┆ str       ┆        │
│            ┆            ┆          ┆            ┆   ┆           ┆ i64       ┆           ┆        │
╞════════════╪════════════╪══════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪════════╡
│ 1          ┆ Chocolate  ┆ 61       ┆ 19         ┆ … ┆ 8/1/2019  ┆ 1         ┆ married   ┆ 49620  │
│            ┆ Sandwich   ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│            ┆ Cookies    ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│ 1          ┆ Chocolate  ┆ 61       ┆ 19         ┆ … ┆ 8/1/2019  ┆ 1         ┆ married   ┆ 49620  │
│            ┆ Sandwich   ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│            ┆ Cookies    ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│ 1          ┆ Chocolate  ┆ 61       ┆ 19         ┆ … ┆ 6/16/2018 ┆ 2         ┆ married   ┆ 158302 │
│            ┆ Sandwich   ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│            ┆ Cookies    ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│ 1          ┆ Chocolate  ┆ 61       ┆ 19         ┆ … ┆ 2/9/2020  ┆ 3         ┆ married   ┆ 31308  │
│            ┆ Sandwich   ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│            ┆ Cookies    ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│ 1          ┆ Chocolate  ┆ 61       ┆ 19         ┆ … ┆ 2/9/2020  ┆ 3         ┆ married   ┆ 31308  │
│            ┆ Sandwich   ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
│            ┆ Cookies    ┆          ┆            ┆   ┆           ┆           ┆           ┆        │
└────────────┴────────────┴──────────┴────────────┴───┴───────────┴───────────┴───────────┴────────┘

In [31]:
#To export the dataframe 
df_ords_prods_merge_custs.write_parquet("data/prepared/df_ords_prods_merge_custs.parquet")